<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Plotly Javascript library -->
    <script src='https://cdn.plot.ly/plotly-2.30.0.min.js'></script>
    <!-- Links -->
    <link rel="icon" type="image/png" href="https://img.icons8.com/fluency/240/nepal.png">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>CryptoBuddy</title>
</head>
<body>
    <!--Heading  -->
    <div class="flex justify-center items-center">
        <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/512/external-cpu-bitcoin-icongeek26-linear-colour-icongeek26.png"  class="w-20 h-20 mr-2" alt="Bitcoin Icon">
        <h1 class="mb-4 text-xl md:text-4xl font-extrabold text-gray-900 dark:text-black">
            <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                Crypto</span> Buddy
        </h1>
        <img src="https://img.icons8.com/external-flat-wichaiwi/512/external-asia-asian-countries-landmarks-flat-wichaiwi-14.png" class="w-20 h-20 mr-2" alt="Bitcoin Icon">
    </div>
        
    <!-- Table Contents -->
    <div id="app" class="container mx-auto">
        <div class="relative overflow-hidden shadow-md rounded-lg">
            <table class="w-full text-left">
                <thead class="text-gray-200 bg-gray-800 sticky top-0">
                    <tr>
                        <th class="py-6 text-center font-bold p-4">Crypto</th>
                        <th class="py-6 text-center font-bold p-4">Icon</th>
                        <th class="py-6 text-center font-bold p-4">Symbol</th>
                        <th class="py-6 text-center font-bold p-4">Current Value (£)</th>
                        <th class="py-6 text-center font-bold p-4">24h Volume</th>
                    </tr>
                </thead>
                <tbody class="bg-white text-gray-800">
                    <tr v-for="(crypto, index) in cryptocurrencies" :key="index">
                        <td class="py-5 text-center p-4  border-b border-gray-300"><strong>{{ crypto.name }}</strong></td>
                        <td class="py-5 text-center p-4  border-b border-gray-200" style="display: flex; justify-content: center; align-items: center;">
                            <img width="50" height="50" :src="crypto.icon" :alt="crypto.name"/>
                        </td>
                        <td class="py-5 text-center p-4  border-b border-gray-300">{{ crypto.symbol }}</td>
                        <td class="py-5 text-center p-4  border-b border-gray-300" style="color: green;  font-size: 16px; font-weight: bold;">{{ crypto.currentValue }}</td>
                        <td class="py-5 text-center p-4  border-b border-gray-300" style="color: green;  font-size: 16px; font-weight: bold;">{{ crypto.marketCap }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <!-- Horizontal line -->
        <hr class="my-8 border-t-2 border-gray-500 w-full">
        
        <!-- Buttons -->
        <div class="flex justify-around">
            <button @click="showGraph" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Graph
            </button>
            <button @click="showSentiment" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Sentiment
            </button>
            <button @click="showPredictions" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Predictions
            </button>
            <button @click="showNews" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                News
            </button>
        </div>
    
        <!-- Chart Div for Plot Result -->
        <div  v-show="activeTab === 'graph'" id="chartDiv"></div>

        <!-- Sentiment Div -->
        <div  v-show="activeTab === 'sentiment'" id="sentimentDiv"> 
          <h2 class="text-center font-bold mb-4 text-3xl" style="margin-top: 20px;">Sentiment Analysis</h2>
            <div class="mb-8">
                <div id="btcSentimentChart" class="pie-chart"  style="display: inline-block; margin-right: 20px;"></div>
                <div id="ltcSentimentChart" class="pie-chart"  style="display: inline-block; margin-right: 20px;"></div>
                <div id="bnbSentimentChart" class="pie-chart" style="display: inline-block; margin-right: 20px;"></div>
                <div id="dogeSentimentChart" class="pie-chart" style="display: inline-block; margin-right: 20px;"></div>
                <div id="xrpSentimentChart" class="pie-chart" style="display: inline-block; margin-right: 20px;"></div>
            </div>
        </div>

        <!-- Prediction Div -->
        <div v-show="activeTab === 'predictions'" id="predictionDiv">
            <!-- Horizontal line -->
            <hr class="my-8 border-t-2 border-gray-500 w-full">
            <!-- BTC Graph -->
            <div class="mb-8"> 
                <iframe v-if="btcPlotUrl" :src="btcPlotUrl" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Horizontal line -->
            <hr class="my-8 border-t-2 border-gray-500 w-full">
            <!-- LTC Graph -->
            <div class="mb-8"> 
                <iframe v-if="ltcPlotUrl" :src="ltcPlotUrl" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Horizontal line -->
            <hr class="my-8 border-t-2 border-gray-500 w-full">
            <!-- BNB Graph -->
            <div class="mb-8"> 
                <iframe v-if="bnbPlotUrl" :src="bnbPlotUrl" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Horizontal line -->
            <hr class="my-8 border-t-2 border-gray-500 w-full">
            <!-- Doge Graph -->
            <div>
                <iframe v-if="dogePlotUrl" :src="dogePlotUrl" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Horizontal line -->
            <hr class="my-8 border-t-2 border-gray-500 w-full">
            <!-- XRP Graph -->
            <div>
                <iframe v-if="xrpPlotUrl" :src="xrpPlotUrl" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        
        <!-- Horizontal line -->
        <hr class="my-8 border-t-2 border-gray-500 w-full">
        <!-- News Div -->
        <div v-show="activeTab === 'news'" id="newsDiv">
            <h2 class="text-center font-bold mb-4 text-3xl">Latest News</h2>
            <div class="flex overflow-x-auto pb-4 mb-6">
                <div class="flex-none w-80 mr-2 p-4 bg-gray-400 rounded-lg shadow" v-for="(news, coin) in newsData" :key="coin">
                    <h3 class="text-center font-bold text-xl mb-2">{{ coin }}</h3>
                    <ul class="list-disc ml-4 space-y-2">
                        <li v-for="(item, index) in news" :key="index">
                            <p class="font-semibold">{{ item.title }}</p>
                            <a :href="item.url" class="text-blue-600 hover:text-blue-800 text-sm" target="_blank">Continue Reading</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    
    <!-- End of div app  -->
    </div> 

    <script>
        new Vue({
            el: '#app',
            data: {
                cryptocurrencies: [
                    { name: 'Bitcoin', icon: 'https://img.icons8.com/color/480/bitcoin--v1.png', symbol: 'BTC', currentValue: '', marketCap: '' },
                    { name: 'Litecoin', icon: 'https://img.icons8.com/deco/480/litecoin.png', symbol: 'LTC', currentValue: '', marketCap: '' },
                    { name: 'Binance Coin', icon: 'https://img.icons8.com/dusk/512/binance.png', symbol: 'BNB', currentValue: '', marketCap: '' },
                    { name: 'Dogecoin', icon: 'https://img.icons8.com/fluency/96/doge.png', symbol: 'DOGE', currentValue: '', marketCap: '' },
                    { name: 'XRP', icon: 'https://img.icons8.com/fluency/240/ripple.png', symbol: 'XRP', currentValue: '', marketCap: '' }
                ],
                connection: null,
                activeTab: 'graph',
                newsData: {},
                predictionDiv: '',
                btcPlotUrl: '',
                ltcPlotUrl: '',
                bnbPlotUrl: '',
                dogePlotUrl: '',
                xrpPlotUrl: '',
                sentiment: {}
            },
            created() {
                let connection = new WebSocket("wss://e77n61pu05.execute-api.us-east-1.amazonaws.com/production");

                connection.onopen = () => {
                    console.log("Connected");
                    this.getData(); // Call getData() only after the connection is open
                };

                connection.onmessage = (msg) => {
                    console.log(msg.data);
                    const data = JSON.parse(msg.data);
                    this.updateTable(data);
                    this.plotGraph(data);
                    this.updateNews(data.news); // Call updateNews method with news data
                    //Get the prediction data all coins
                    this.bnbPlotUrl = data.prediciton.BNB;
                    this.dogePlotUrl = data.prediciton.DOGE;
                    this.xrpPlotUrl = data.prediciton.XRP;
                    this.btcPlotUrl = data.prediciton.BTC;
                    this.ltcPlotUrl = data.prediciton.LTC;
                    //Get the sentiment analysis data of all coins
                    this.plotPieChart(data.sentiment, 'BTC');
                    this.plotPieChart(data.sentiment, 'BNB');
                    this.plotPieChart(data.sentiment, 'LTC');
                    this.plotPieChart(data.sentiment, 'XRP');
                    this.plotPieChart(data.sentiment, 'DOGE');

                        
                };

                connection.onerror = (error) => {
                    console.error("WebSocket Error: " + JSON.stringify(error));
                };

                this.connection = connection; // Store the connection in a data property
            },

            methods: {
                getData() {
                    if (this.connection && this.connection.readyState === WebSocket.OPEN) {
                        let msgObject = {
                            action: "getData",
                            data: ""
                        };
                        this.connection.send(JSON.stringify(msgObject));
                        console.log("Message sent: " + JSON.stringify(msgObject));
                    } else {
                        console.error("WebSocket connection is not open.");
                    }
                },
                //Button handler
                showGraph() {
                    this.activeTab = 'graph';
                },
                showSentiment() {
                    this.activeTab = 'sentiment';
                },
                showPredictions() {
                    this.activeTab = 'predictions';
                },
                showNews() {
                    this.activeTab = 'news';
                },
                //Updates the table with data received from the WebSocket server.
                updateTable(data) {
                    for (const symbol in data) {
                        const crypto = this.cryptocurrencies.find(c => c.symbol === symbol);
                        if (crypto) {
                            const values = data[symbol].actual;
                            crypto.currentValue = `£ ${parseFloat(values.values[0]).toFixed(4)}`;
                            crypto.marketCap = `£ ${parseFloat(values.marketCap[1]).toFixed(2)}`;
                        }
                    }
                },
                //Plot the Graph for all crypto currencies
                plotGraph(data) {
                    const bitcoin = {
                        x: data.BTC.actual.times,
                        y: data.BTC.actual.values,
                        mode: 'lines + markers',
                        fill: 'tozeroy',
                        name: "Bitcoin",
                        marker: {
                            color: 'rgb(255, 165, 0)',
                            size: 12
                        }
                    };
                    const bnb = {
                        x: data.BNB.actual.times,
                        y: data.BNB.actual.values,
                        mode: 'lines + markers',
                        fill: 'tozeroy',
                        name: "BNB",
                        marker: {
                            color: 'rgb(128, 128, 128)',
                            size: 12
                        }
                    };
                    const litecoin = {
                        x: data.LTC.actual.times,
                        y: data.LTC.actual.values,
                        mode: 'lines + markers',
                        fill: 'tozeroy',
                        name: "Litecoin",
                        marker: {
                            color: 'rgb(34, 139, 34)',
                            size: 12
                        }
                    };
                    const ripple = {
                        x: data.XRP.actual.times,
                        y: data.XRP.actual.values,
                        mode: 'lines + markers',
                        fill: 'tozeroy',
                        name: "Ripple",
                        marker: {
                            color: 'rgb(219, 64, 82)',
                            size: 12
                        }
                    };
                    const dogecoin = {
                        x: data.DOGE.actual.times,
                        y: data.DOGE.actual.values,
                        mode: 'line + markers',
                        fill: 'tozeroy',
                        name: "Dogecoin",
                        marker: {
                            color: 'rgb(55, 128, 191)',
                            size: 12
                        }
                    };
                    let graph = [bitcoin, bnb, litecoin, ripple, dogecoin];
                    let layout = {
                        title: 'Crypto Prices Data',
                        xaxis: {
                            title: 'Timestamp'
                        },
                        yaxis: {
                            title: 'Prices in GBP'
                        },
                        legend: {
                            // Adjust the y value to move the legend down
                            y: 0.5,   
                        },
                    };
                    Plotly.newPlot('chartDiv', graph, layout);
                },
                //Plot the Pie Chart for Sentiment Analysis
                plotPieChart(sentimentData, coin) {
                    const containerId = `${coin.toLowerCase()}SentimentChart`;
                    const container = document.getElementById(containerId);

                    const values = sentimentData[coin];
                    const labels = Object.keys(values);
                    const coinColors = {
                        'Positive': 'rgb(0, 153, 0)',
                        'Neutral': 'rgb(0, 76, 153)',
                        'Negative': 'rgb(255, 128, 0)'
                    };
                    // Define colors array based on sentiment categories for the specific coin
                    const colors = labels.map(label => coinColors[label]);
                    const data = [{
                        values: Object.values(values),
                        labels: labels,
                        type: 'pie',
                        marker: {
                            colors: colors,
                        }
                    }];

                    const layout = {
                        title: `${coin} Sentiment Analysis`,
                        height: 400,
                        width: 500
                    };

                    Plotly.newPlot(container, data, layout);
                },
                //Update the news data  
                updateNews(newsData) {
                    for (const symbol in newsData) {
                        // Store only the news for the corresponding cryptocurrency
                        const crypto = this.cryptocurrencies.find(c => c.symbol === symbol);
                        if (crypto) {
                            this.$set(this.newsData, symbol, newsData[symbol]);
                        }
                    }
                },
            }
        });
    </script>
</body>
<!-- Footer -->
<footer class="bg-gray-800 py-2">
    <div class="flex justify-center items-center">
        <p class="text-center text-gray-500 dark:text-gray-400">© 2024 CryptoBuddy. All rights reserved.</p>
    </div>
</footer>

</html>
